@font-face {
    font-family: "SanFrancisco";

    src: url("../fonts/SFUIDisplay-Regular.woff2") format("woff2"),
        url("../fonts/SFUIDisplay-Regular.woff") format("woff");

    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SanFrancisco";

    src: url("../fonts/SFUIDisplay-Bold.woff2") format("woff2"),
        url("../fonts/SFUIDisplay-Bold.woff") format("woff");

    font-weight: 700;
    font-style: normal;
    font-display: swap;
}